.menu-left {
    position: fixed;
    width: 15%;
    height: 100vh;
    background-color: #F1F4F9;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.08);
    border-right: 1px solid #e4e8ef;
}

.menu-left h1 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #333;
    font-family: "Open Sans", sans-serif;
}

/* NOVO — Links com ícones */
.menu-link {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 12px;
    color: #333;

    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.2s;

    font-family: "Open Sans", sans-serif;
}

.menu-link-tela{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 10px 12px;
    color: #333;

    text-decoration: none;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.2s;

    font-family: "Open Sans", sans-serif;

    background-color: #cdd1d8;
    padding-left: 18px;
}

.menu-link:hover {
    background-color: #e7ebf3;
    padding-left: 18px;
}