@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}


.Div-Body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.Div-login {
    position: relative;
    margin-left: 25%;
    top: 15%;
    width: 50%;
    height: 70%;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Div-direita-login {
    position: relative;
    float: right;
    width: 50%;
    height: 100%;

    border-radius: 30px;

}

.Div-esquerda-login {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(124, 204, 177);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;


}

.Div_logo {
    display: flex;
}

.Logo_img {
    width: 10%;
}

.Text-Logo {
    font-family: "Open Sans", sans-serif;
    font-size: 1.8em;
}

.Text_Div_Esquerda {
    font-family: "Open Sans", sans-serif;

}

.Div_logo_footer {
    display: flex;

}

.Logo-Icone_Footer {
    width: 4%;
}

.Text_logo_footer {
    font-family: "Open Sans", sans-serif;

}