.menu-mapa {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 220px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding-bottom: 10px;
}

.menu-mapa h1 {
    font-size: 16px;
    font-weight: 600;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}

.mapa-leaflet-wrapper {
    width: 190px;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}   