.div-feed {
  position: absolute;
  top: 12%;
  left: 22%;
  width: 60%;
  height: 88vh;


  overflow-y: auto;     
  overflow-x: hidden;

  scroll-behavior: smooth;

  box-sizing: border-box;
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
